//Fontes
$fontePrincipal: Roboto, sans-serif;

//Esquemas de cores
$corPrincipal: #182C61;
$corDeFundo: #f5f6fa;
$corSecundaria: #44bd32;
$corTexto: #fff;

//Breakpoints
$mobile: 767px;
$tablet: 1023px;